<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

	<ul>
		{% for person in persons %}
			<li><a href="{% url 'person_update' person.id %}">{{ person.first_name }}</a> - <a href="{% url 'person_delete' person.id %}">Deletar</a> </li>

		{% endfor %}
	<ul>

<br>

		<a href="{% url 'person_new' %}"> Novo Cliente</a>
</body>
</html>