<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id Cliente</th>
      <th scope="col">Nome Cliente</th>
      <th scope="col">Sexo</th>
      <th scope="col">Tipo</th>
      <th scope="col">Dia pagamento</th>
    </tr>
  </thead>
  <tbody>
    <tr>{% for person in persons %}
			<td>{{ person.id_cliente}}</td>
			<td>{{ person.nome_cliente}}</td>
			<td>{{ person.sexo}}</td>
			<td>{{ person.tipo}}</td>
			<td>{{ person.dia_pagamento}}</td>
    </tr>{% endfor %}
    <tr>
  </tbody>
</table>

	<ul>

	<ul>
	<br>
	<a href="{% url 'persons_new' %}"> Novo Cliente</a>
</body>
</html>





